<template>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input
          v-model="amount"
          class="form-control"
          placeholder="مبلغ مورد نظر به تومان"
          aria-label="Example text with button addon"
          aria-describedby="button-addon1"
        />

        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon1"
            @click.prevent="add"
          >
            افزودن به لیست
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <ul class="list-group">
        <li
          class="
            list-group-item
            d-flex
            justify-content-between
            align-items-center
          "
          v-for="plan in plans"
          :key="plan"
        >
          {{ plan.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") }} تومان
          <a
            class="btn btn-sm btn-outline-danger"
            href="#"
            @click.prevent="del(plan)"
            >حذف</a
          >
        </li>
      </ul>
    </div>
    <input
      type="text"
      name="credit_plans"
      v-model="camaSepratedPlans"
      class="d-none"
    />
  </div>
</template>

<script>
export default {
  name: "CreditPlans",
  props: ["credit_plans"],
  data: function () {
    return {
      loading: false,
      plans: this.initPlans(),
      amount: null,
    };
  },
  methods: {
    add() {
      if (this.plans.includes(this.amount)) {
        alert("تکراری");
        return;
      }
      this.plans.push(this.amount);
      this.amount = null;
    },
    initPlans() {
      return this.credit_plans;
    },
    del(plan) {
      const index = this.plans.indexOf(plan);
      if (index > -1) {
        this.plans.splice(index, 1); // 2nd parameter means remove one item only
      }
    },
  },
  computed: {
    camaSepratedPlans() {
      return this.plans.join(",");
    },
  },
  mounted() {},
};
</script>

<style scoped>
</style>
